header{
    width: 100%;
    height: 100px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    height: 45px;
    font-size: 35px;
}
.menu{
    width: 200px;
    height: 40px;
    background-color: gray;
    color: white;

    display: flex;
    justify-content: center;
    
}
.seccion{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.articulo1{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.articulo1 a{

    font-size: 20px;
    color:black;
    padding: 4px 15px;
    bottom: 2px;
    border-left: 2px solid black;

    text-decoration: none;
}
.seccion2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estructura{
    width: 75%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.cuadro{
    width: 33%;
    height: 600px;
   display: flex;
   border: 2px solid black;
   
}
.p2cuadro{
    width: 34%;
    height: 600px;
    border: 2px solid black;
    display: flex;
    
}
.p3cuadro{
    width: 33%;
    height: 600px;
    border: 2px solid black;
    display: flex;
}
.grid2{
    width: 50%;
    height: 600px;
    border: 2px solid black;
    display: flex;
    
}
.grid2-1{
    width: 50%;
    height: 600px;
    border: 2px solid black;
    display: flex;
    line-break: auto;
}

